package Application;
use strict;
use warnings;

use base 'CGI::Application';
use CGI::Application::Plugin::AutoRunmode;
use CGI::Application::Plugin::Authentication;

use Rose::DBx::Object::Renderer;

sub setup {
	my $self = shift;
}

sub start: Runmode {
	my $self = shift;
	return 'Hello World';
} 

sub admin: Runmode Authen {
	my $self = shift;
	return 'Admin Area';
}

1;
