Employee has a first name (required), last name (required), email(unique), photo, gender, position (has a title and description), and address.
Projects have name, description, date, image, and cost.
Employees have many projects and vice versa.
